.fadeIn {
  transition: opacity 0.3s ease;
}

.fadeIn.ng-leave {
  opacity: 1;
  top: 0;
}

.fadeIn.ng-leave.ng-leave-active {
  opacity: 0;
  top: -1000px;
}

.fadeIn.ng-enter {
  transition-delay: 0.5s;
  opacity: 0;
}

.fadeIn.ng-enter.ng-enter-active {
  opacity: 1;
}

