#mainHeader{
  min-height: 9.6rem;
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 2px solid $color-default;

  .logo{
    display: block;
    overflow: hidden;
    width: 9.6rem;
    height: 9.6rem;
    line-height: 9.6rem;
    text-indent: -6000px;
    background-color: transparent;
    background-image: url(../images/logo_96x96.png);
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.bt-menu{
  float: right;
  display: block;
  width: 9.6rem;
  height: 9.6rem;
  line-height: 9.6rem;
  font-size: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;

  &.active{
    color: #f3f3f3;
  }
}

#mainMenu{
  overflow: hidden;
  height: 0;
  max-height: 36rem;
  transition: height .3s ease;

  &.open{
    height: 36rem;
  }

  &.slide.open-add-stagger,
  &.slide.open-remove-stagger{
    -webkit-transition-delay:0.2s;
    transition-delay:0.2s;
    -webkit-animation-duration:0;
    animation-duration:0;
  }

  & .menu{
    list-style:none;
    width: 100%;
    overflow: hidden;
    padding:0;
    border-top: 1px solid #ebebeb;

    &> li{
      padding:0;
      display: block;
    }

    a{
      display: block;
      padding: 0 2rem;
      width: 100%;
      height: 6rem;
      line-height: 6rem;
      font-size: 2rem;
      text-align: center;
      color: #333;
      border-bottom: 1px solid #ebebeb;
      background-color: transparent;
      transition: background-color 0.2s linear;

      &:hover{
        text-decoration: none;
        background-color: $color-light;
      }


      &.active{
        color: $color-dark;
        background-color: $color-default;
      }
    }

  }
}


#mainContent{
  padding-bottom: 4rem;
  height: 100%;
  width: 100%;
  overflow:hidden;
}


#mainFooter{
  padding: 1rem 0;
  span, strong{
    display: block;
    text-align: center;
  }
}

.mv-section {
  height: inherit;
  width: inherit;
  overflow-y: auto;
  overflow-x: hidden;

  .mv-section-background{
    position: absolute;
    width: 100%;
    min-height: 36rem;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.mv-section > header{
  text-align: right;
  background-color: $color-dark;
  padding: 2rem 2rem 2rem 8rem;

  h1{
    margin: 0 0 4rem 0;
    padding: 0 1rem 0 0;
    font-size: 2rem;
    line-height: 4rem;
    color: $color-default;
  }
}

.mv-section-small{
  padding:2rem;
}

.mv-slideshow{
  padding: 0;
  margin: 0;
  min-height: 50rem ;
  width: 100%;
  overflow: hidden;

  .slide{
    list-style: none;
    position: relative;
    float: left;
    width: 100%;

    min-height: inherit;
    padding: 0;
    overflow: hidden;

    .slideshow-image{
      margin: 0;
      padding: 0;
      width: inherit;
    }
    .slideshow-caption{
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 2rem;
      color: $color-light-alt;
      background-color: $color-shadow;
      background-color: rgba(0,0,0, 0.7);

      h2{
        font-weight: 300;
        color: $color-default;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
  .mv-section{
    .mv-section-background{
      min-height: 36rem;
    }
  }
  .mv-slideshow{
    min-height: 50rem ;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {
  .mv-section{
    .mv-section-background{
      min-height: 48rem;
    }
  }
  .mv-slideshow{
    min-height: 48rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {
  #mainMenu{
    margin-top: -9.6rem;
    float: right;
    z-index: 1000;

    min-height: 9.6rem;

    & > .menu{
      border-top: none;

      & > li{
        display: inline-block;
        float: left;
        width: auto;
      }
      a{
        height: 9.6rem;
        line-height: 9.6rem;
        border-bottom: none;
      }
    }
  }

  .bt-menu{
    display: none;
  }

  .mv-section{
    .mv-section-background{
      min-height: 65rem;
    }
  }
  .mv-slideshow{
    min-height: 65rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {
  .mv-section{
    .mv-section-background{
      background-position: center center;
    }
  }
}
