// Cores básicas
$color-default: #f1ce02;


// Escala de cinza
$color-white: #fff;
$color-light: #e6e6e6;
$color-light-alt: #fcfcfc;
$color-bright: #969696;
$color-gray: #848484;
$color-gray-alt: #666;
$color-shadow: #484848;
$color-dark: #1a1a1a;
$color-balck: #222;

// Experiência de usuário
$color-info: #4299d4;
$color-alert: #d68836;
$color-error: #c2363b;
$color-success: #79ab4a;
$color-muted: #484848;
$color-popup: #f5f3b2;
