$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
//$fa-font-path: "../fonts/";
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$headings-font-family: "Roboto" !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.2 !default;
$font-size-base: 16px !default;
$brand-primary: #8cc63f !default;
$brand-info: #2a4a4c !default;

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// endbower

// Theme
@import "variables";
@import "base";
@import "animation";
@import "section/main";
@import "section/contato";
@import "section/ferramentas";
@import "section/noticias";
@import "section/parceiros";
@import "section/sobre";
//End Theme

//Global
