/* ============================================
 * Seção Contato
 * ============================================
 */
#secContato {

  .chamada{
    min-height: 48rem;
    background-image: url(../images/equipe.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  form {
    padding: 4rem;
    background-color: $color-default;
    h2{
      borde-bottom: 2px solid $color-default;
    }
    label {
      display: block;
      font-size: 1.5em;
      width: 100%;
      color: $color-dark;
    }
    input, textarea {
      display: block;
      font-size: 1.5em;
      padding: 1rem;
      width: 100%;
      border: 0;
      border-radius: 0.5rem;
      background-color: $color-light-alt;
    }
    textarea {
      resize: none;
    }
    input[type="submit"] {
      margin-top: 4rem;
      padding: 2rem;
      color: $color-default;
      border: 0;
      background-color: $color-dark;
    }
  }
}

.contato-section{
  text-align: center;
  .contato-section-icon{
    font-size: 4rem;
  }
  .contato-section-title{
    margin: 0 0 1rem 0;
  }
}

.bt-contato{
  display: block;
  border:0;
  width: 100%;
  min-height: 141px;
  font-size: 2rem;
  margin: 2rem 0 0 0;
  padding: 4rem;
  color: $color-dark;
  outline: none;
}

.bt-contato-chat{
  color: $color-white;
  background-color: $color-info;
}
.bt-contato-recado{
  background-color: $color-default;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {
  .contato-section{
    clear: both;
    margin-top: 4rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
