/* ============================================
 * Seção Ferramentas
 * ============================================
 */
#secFerramentas{
  background-color: $color-light;
}

#secFerramentas > header{
  text-align: right;
  background-color: $color-dark;
  padding: 2rem;
  h1{
    margin: 0 0 4rem 0;
    padding: 0 1rem 0 0;
    font-size: 2rem;
    line-height: 4rem;
    color: $color-default;
  }
}
#secFerramentas h4{
  padding: 2rem;
  width: 100%;
  clear: both;
}
#secFerramentas ul{
  margin:0;
  padding:0;
  width: 100%;
  list-style: none;

  li{
    padding: 0;
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid $color-light;
    overflow:hidden;

    a{
      display: block;
      width: 100%;
      height: 100%;
      padding: 2rem;
      font-size: 2rem;
      line-height: 4rem;
      text-align: center;
      color: $color-dark;

      background-color: $color-light-alt;
    }
    a:hover{
      text-decoration: none;
      color: $color-dark;
      background-color: $color-default;
    }
    i{
      display: block;
      font-size: 2em;
    }
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {
  #secFerramentas ul{

    li{
      float: left;
      width: 33.33%;
      height: auto;
      padding: 1rem;

      a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 2rem;
        line-height: 4rem;
        text-align: center;
        color: $color-dark;
        border-style: solid;
        border-color: #333;
        border-width: 0 0 0 0;
      }
      a:hover{
        text-decoration: none;
        color: $color-dark;
        background-color: $color-default;
      }
      i{
        display: block;
        font-size: 2em;
      }
      li:nth-child(odd){
        background-color: $color-gray-alt;
      }
    }

  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
