/* ============================================
 * Seção Home
 * ============================================
 */

.mv-section{
  .mv-section-background{
    background-image: url(../images/slides/home_1020x600.jpg);
  }
}
#homeMarketingPanel{
  background-color: $color-default;
  font-weight: 300;
  ul{
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    li{
      list-style: none;
    }
  }
  a{
    display: block;
    font-weight: inherit;
    text-align: center;
    font-size: 2.8rem;
    color: $color-gray-alt;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  a:hover{
    font-weight: 400;
    text-decoration: none;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
