/* ============================================
 * Seção Notícias
 * ============================================
 */
#secNoticia{
  background-color: $color-light;

  article{
    display: block;
    & > header{
      padding: 2rem;
    }

    ul{
      padding: 0 2rem;
      overflow: hidden;
    }
    li{
      padding:1rem 0;
      list-style: none;
    }
    &.mv-list-block li{
      text-align: center;
      float: left;
      width: 50%;

      a{
        text-decoration: none;
        color: $color-gray;

        h2{
          font-weight: 300;
        }

        .mv-list-all{
          display: block;
          text-align: center;
          line-height: 12.5rem;
          font-size: 3em;
          background-color: $color-white;
          margin:0 auto;
        }

        img, .mv-list-all{
          width: 12.5rem;
          height: 12.5rem;
          border-radius: 50%;
          border: 0.3rem solid $color-light;
        }
      }
      a:hover{

        img, .mv-list-all{
          border: 0.3rem solid $color-default;
        }
      }
    }

  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
