/* ============================================
 * Seção Parceiros
 * ============================================
 */
#secParceiros{
 background-color: $color-light;
  .chamada{
    padding: 8rem 0;
    text-align: center;
    font-weight: 300;
    //padding: 2rem 2rem 2rem 15rem;
    font-size: 2em;
    color: $color-dark;
  }
}
.parceiros{
  padding: 0;

  li{
    list-style: none;
    display:block;
    width: 50%;
    min-height: 150px;
    float: left;
    text-align:center;
  }

  a{
    text-decoration: none;
    padding: 2rem;
  }

  a:hover{
    color: $color-default;
  }

  img{
    width: 80%;
  }

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {
    .parceiros{
      li{
        width: 33.33%;
      }
      img{
        width: 50%;
      }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
