/* ============================================
 * Seção Sobre
 * ============================================
 */
#secSobre {
}

.sobre-section {
  width: 100%;
  min-height: 30rem;
  margin: 4rem 0;
  padding: 1rem 0 4rem 0;
  text-align: center;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;

  img {
    width: 100%;
    border: 0.2rem solid $color-white;
  }

  i {
    color: $color-default;
    font-size: 4rem;
  }

  h3 {
    margin: 1rem 0.2rem;
    padding: 2.5rem 0;
    color: $color-default;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
  }
  p {

  }
  .sobre-section-text {
    margin-top: -10rem;
  }
}


.sobre-endereco {
  width: 100%;
  min-height: 15rem;
  text-align: center;

  i {
    color: $color-default;
    font-size: 8em;
  }

  h3 {
    margin: 0 0 1rem 0;
    color: $color-default;
    border-bottom: 2px solid $color-default;
  }
  p {
    color: $color-white;
  }

  address {
    font-size: 1.5em;
  }
}

.sobre-map {
  width: 100%;
  min-height: 35rem;
  background-position: center center;
  background-image: url(../images/mapa.jpg);
}

/*
.angular-google-map{
  width: 100%;
  height: 25rem;
  clear: both;
}
.angular-google-map-container{
  height: 25rem;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md) {
  #secSobre {
    .sobre-section:nth-child(2) {
      text-align: right;

      .sobre-section-text {
        border-left: none;
        border-right: 2px solid $color-default;
      }
    }
  }
  .sobre-section {
    text-align: left;

    h3{
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: transparent;
    }

    .sobre-section-text {
      margin-top: 0;
      border-left: 2px solid $color-default;
    }

  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-lg) {

}
