<footer id="mainFooter">
  <address>
    <strong>2014 . Vida Promotora Soluções Financeiras </strong>
    <span>Rua Joaquim nabuco, 2150. Centro.</span>
    <span>Porto Velho / RO. CEP.: 76801-101</span>
  </address>
</footer>
