<header id="mainHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-2">
        <a class="logo" href="#/">
          Vida Promotora
        </a>
      </div>
      <div class="col-xs-6 col-md-10">
        <button class="bt-menu" accesskey="2"
                data-ng-class="{'active':status}"
                data-ng-click="open($event);">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
    <?php echo $this->partial('layout/app/menu'); ?>
  </div>
</header>
