<aside id="mainMenu" class="mv-main-menu slide" data-ng-class="{'open':status}">
  <ul class="menu">
    <li><a href="#/index/about"> Sobre</a></li>
    <li><a href="#/index/contact"> Contato</a></li>
    <li><a href="#/index/partners">Parceiros</a></li>
<!--    <li><a href="#/index/news">Notícias</a></li>-->
    <li><a href="#/index/tools">Ferramentas</a></li>
  </ul>
</aside>
