<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Vida Promotora Soluções Financeiras</title>
  <meta name="description" content="Vida promotora soluções financeiras">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/app/styles/vendor.css"/>
  <link rel="stylesheet" href="/app/styles/main.css"/>
</head>
<body data-ng-app="mvApp">
  <?php echo $this->partial('layout/app/header'); ?>
  <section id="mainContent" class="fadeIn" data-ng-view=""></section>
  <?php echo $this->partial('layout/app/footer'); ?>

  <script type="text/javascript" src="/app/scripts/vendor.js"></script>
  <script type="text/javascript" src="/app/scripts/scripts.js"></script>
</body>
</html>
