<section id="secSobre" class="mv-section">

  <div class="container">

    <!-- Tradição e experiência -->
    <article id="sobrePvh" class="row sobre-section sobre-pvh">
      <div class="sobre-section-image col-xs-12 col-md-6">
        <img src="/app/images/pvh.jpg" alt="Porto Velho"/>
      </div>
      <div class="sobre-section-text col-xs-12 col-md-6">
        <h3><i class="fa fa-flag"></i> Tradição e experiência</h3>

        <p>A Vida Promotora está situada em Porto Velho, capital rondoniense. Estamos há 14 anos consolidados no
          mercado de crédito consignado, crédito pessoal e seguros, atuando em todo território nacional e tendo
          como foco fornecer as melhores condições para que nossos clientes e parceiros possam ter seus problemas
          resolvidos.</p>
      </div>
    </article>

    <!-- Preço -->
    <article id="sobrePvh" class="row sobre-section sobre-pvh">
      <div class="sobre-section-image col-xs-12 col-md-6 col-md-push-6">
        <img src="/app/images/preco.jpg" alt="Porto Velho"/>
      </div>
      <div class="sobre-section-text col-xs-12 col-md-6  col-md-pull-6">
        <h3><i class="fa fa-money"></i> Melhores condições</h3>

        <p>Temos as melhores ofertas do mercado em todas as modalidades de crédito para que nossos clientes tenham
          seus problemas financeiros resolvidos. Procure nossos representantes ou venha até nossa loja e veja a
          diferença.</p>
      </div>
    </article>

    <!-- Equipe -->
    <article id="sobrePvh" class="row sobre-section sobre-pvh">
      <div class="sobre-section-image col-xs-12 col-md-6">
        <img src="/app/images/equipe.jpg" alt="Porto Velho"/>
      </div>
      <div class="sobre-section-text col-xs-12 col-md-6">
        <h3><i class="fa fa-group"></i> Uma equipe preparada</h3>

        <p>Nosso atendimento se destaca pela qualidade, agilidade e satisfação de nossos clientes e parceiros de
          negócios.</p>

        <a href="#/index/contact">Fale conosco e tire suas dúvidas</a>
      </div>
    </article>

    <div class="row">
      <div class="sobre-endereco col-xs-12">
        <i class="fa fa-map-marker"></i>
        <h3>Fácil de achar</h3>

        <div class="sobre-map"></div>

        <address>Rua Joaquim nabuco, 2150. Centro. Porto Velho / RO. CEP.: 76801-101</address>
      </div>
    </div>
  </div>

</section>
