<section id="secContato" class="mv-section">

  <div class="container">
    <div class="chamada"></div>

    <div class="row">
      <div class="col-md-4">
        <div class="contato-section">
          <!--horário de atendimento-->
          <h2 class="contato-section-icon"><i class="fa fa-clock-o"></i></h2>

          <h3 class="contato-section-title">Horário</h3>

          <h4>
            <strong>Segunda à Sexta </strong><br>
            7:30h até 18:00h.<br>
            <strong>Sábado</strong><br>
            8:00h até 12:00h.
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contato-section">
          <h2 class="contato-section-icon"><i class="fa fa-comment"></i></h2>

          <h3 class="contato-section-title">Atendimento On-line</h3>

          <p>Você pode agendar com um de nossos atendentes ou até mesmo falar com nossa
            equipe no nosso chat</p>
          <a href="http://chat.vidapromotora.com.br/client.php?locale=pt-br" class="bt-contato bt-contato-chat" target="_blank">
            <img src="http://chat.vidapromotora.com.br/b.php?i=mibew&amp;lang=pt-br" border="0"width="163" height="61" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contato-section">
          <h2 class="contato-section-icon"><i class="fa fa-envelope"></i></h2>

          <h3 class="contato-section-title">Deixe seu recado</h3>

          <p>Se preferir ainda pode deixar seu recado par aque entremos em contato com você.
            Envie sua dúvida ou sugestão.</p>

          <button class="bt-contato bt-contato-recado">Escrever</button>
        </div>
      </div>
    </div>


    <!-- Formulário -->

    <div class="row">
      <div class="col-md-12">
        <form method="POST" name="contato" id="form-contato" data-ng-submit="enviar()">

          <div id="contato-message" class="reveal col-xs-12" data-ng-if="formContatoData.ok">
            <i class="fa fa-envelope fa-2x"></i> Sua mensagem foi enviada com sucesso
          </div>
          <div class="form-group">
            <label for="control-nome"> Nome</label>
            <input type="text" name="nome" id="control-nome" required="required" placeholder="Qual o seu nome?"
                   data-ng-model="formContatoData.nome" value="">
          </div>
          <div class="form-group">
            <label for="control-email"> E-mail</label>
            <input type="email" name="email" id="control-email" required="required"
                   placeholder="Qual seu e-mail?" data-ng-model="formContatoData.email" value="">
          </div>
          <div class="form-group">
            <label for="control-telefone"> Telefone</label>
            <input type="text" name="telefone" id="control-telefone" required="required"
                   placeholder="Qual seu telefone, com DDD?" data-ng-model="formContatoData.telefone" value="">
          </div>
          <div class="form-group">
            <label for="control-mensagem"> Mensagem</label>
            <textarea name="mensagem" id="control-mensagem" required="required" cols="5"
                      placeholder="Qual sua dúvida ou sugestão?"
                      data-ng-model="formContatoData.mensagem"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="acao" id="submit-contato" data-ng-model="formContatoData.acao"
                   value="Enviar Mensagem">
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
