<section id="secMain" class="mv-section">
  <div class="mv-section-background">

  </div>
  <div class="container">
    <!--Slideshow-->

    <div class="row">
      <ul id="homeSlideshow" class="mv-slideshow col-xs-12">
        <li class="slide">
          <div class="slideshow-caption">
            <h2>Suas férias estão garantidas</h2>

            <p>Conosco você tem crédito de forma simplificada.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="row">
      <div id="homeMarketingPanel" class="mv-section-small">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li>Empréstimo Consignado</li>
              <li>Crédito Pessoal</li>
              <li>Seguro</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="tel:06932211505">69.3221-1405</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
