<section id="secNoticia" class="mv-section">
  <header>
    <h1>Últimas notícias</h1>
  </header>

  <article id="notNovidades">
    <header>
      <h1>Novidades</h1>
    </header>
    <ul>
      <li>
        <a href="#/noticias">
          <time datetime="2014-06-16T11:31:03">16/06/2014</time> -
          <span>Conheça a promoção balão premiado e proposta premiada</span>
        </a>
      </li>
    </ul>
  </article>

  <article id="notBalaoPremiado" class="mv-list-block">
    <header>
      <h1>Sorteio Balão premiado</h1>
    </header>
    <ul>
      <li>
        <a href="#/noticias">
          <h2>30/Jun</h2>
          <img src="local/upload/midia/2014/06/thumb/balao_premiado.png" alt=""/>
        </a>
      </li>
      <li>
        <a href="#/noticias">
          <h2>Ver todos</h2>
          <p class="mv-list-all"><i class="fa fa-plus"></i></p>
        </a>
      </li>
    </ul>
  </article>

  <article id="notPropostaPremiada" class="mv-list-block">
    <header>
      <h1>Proposta premiada</h1>
    </header>
    <ul>
      <li>
        <a href="#/noticias">
          <h2>Sorteio 08/06</h2>
          <img src="local/upload/midia/2014/06/thumb/proposta_premiada.png" alt=""/>
        </a>
      </li>
      <li>
        <a href="#/noticias">
          <h2>Ver todos</h2>
          <p class="mv-list-all"><i class="fa fa-plus"></i></p>
        </a>
      </li>
    </ul>
  </article>

  <!--Vinicius, agiliza pra gente,os parceiros estão cobrando, outra coisa, inclui o-->
  <!--banner da campanha(pra rodar com o outro que já tem)-->
  <!--e os nomes dos ganhadores da semana da campanha-->
  <!--(precisamos colocar toda segunda para eles acompanharem,-->
  <!--portanto te passarei toda sexta para você lancar o resultado no site  ate segunda).-->
  <!--Abaixo os ganhadores da ultima semana para lançamento no site.-->

  <!--BALAO PREMIADO-->

  <!--R$ 100,00- JADSON BOY AGUIAR-->
  <!--R$ 100,00- MARCELO ALVES-->
  <!--R$ 100,00- PETRONIO MINGAL-->
  <!--R$ 100,00- JOAO CARLOS-->
  <!--R$ 100,00- NIVIA DURAN-->


  <!--PROPOSTA PREMIADA-->

  <!--R$ 100,00- Nivia Duran-->
  <!--R$ 200,00- Marcelo Alves-->
  <!--R$ 300,00- Jadson Boy Aguiar-->

  <!--Att,-->


  <!-- .col-md-6 -->
</section>
