<section id="secParceiros" class="mv-section">

  <div class="container">
    <div class="chamada">
      Oferecemos as melhores vantagens porque temos os melhores em nosso time.
    </div>

    <ul class="parceiros">
      <li>
        <a href="http://www.gruposabemi.com.br/" title="Sabemi Empréstimos e Seguros" target="_blank">
          <img src="/app/images/parceiros/sabemi.jpg" alt="Sabemi">
        </a>
      </li>

      <li>
        <a href="https://www.agiplan.com.br/" title="Agiplan" target="_blank">
          <img src="/app/images/parceiros/agiplan.jpg" alt="Agiplan">
        </a>
      </li>

      <li>
        <a href="http://www.bemvindobanrisul.com.br/" title="Banco BemBarisul" target="_blank">
          <img src="/app/images/parceiros/logo_bembarisul.jpg" alt="Banco BemBarisul">
        </a>
      </li>

      <li>
        <a href="http://www.bancobmg.com.br/site/" title="Banco BMG" target="_blank">
          <img src="/app/images/parceiros/bmg.jpg" alt="Banco BMG">
        </a>
      </li>

      <li>
        <a href="https://www.itau.com.br/" title="Banco Itaú" target="_blank">
          <img src="/app/images/parceiros/itau.jpg" alt="Banco Itaú">
        </a>
      </li>

      <li>
        <a href="http://www.consig.net/credvida/" title="Banco Cifra" target="_blank">
          <img src="/app/images/parceiros/cifra.jpg" alt="Banco Cifra">
        </a>
      </li>

      <li>
        <a href="http://www.bancopan.com.br/" title="Banco Pan" target="_blank">
          <img src="/app/images/parceiros/logo_pan.jpg" alt="Banco Pan">
        </a>
      </li>

      <li>
        <a href="https://www.bradescopromotora.com.br/" title="Bradesco Promotora" target="_blank">
          <img src="/app/images/parceiros/bradescop.jpg" alt="Bradesco Promotora">
        </a>
      </li>

      <li>
        <a href="http://www.caspeb.com.br/index.php" title="Caspeb" target="_blank">
          <img src="/app/images/parceiros/caspeb.jpg" alt="Caspeb">
        </a>
      </li>

      <li>
        <a href="http://www.casebras.com.br/" title="Casebrás" target="_blank">
          <img src="/app/images/parceiros/casebras.jpg" alt="Casebrás">
        </a>
      </li>
    </ul>
  </div>
</section>
