<section id="secFerramentas" class="mv-section">
  <header>
    <h1 class="text-center">Principais ferramentas</h1>
  </header>
  <div class="container">
  <div data-ng-repeat="section in secferramentas">
    <article class="toolsection" data-mv-toolsection>
      <h4>{{section.title}}</h4>
      <ul>
        <li data-ng-repeat="item in section.list">
          <a data-ng-href="{{item.url}}" target="_blank">
            {{item.name}}
          </a>
        </li>
      </ul>
    </article>
  </div>
  </div>
</section>
